.containerLogin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.containerLogin::before {
  display: block;
  content: "";
  background: url("/assets/login.jpg") no-repeat center center;
  background-size: cover;
}

@media (max-width: 40rem) {
  grid-template-columns: 1fr;
}
@media (max-width: 40rem) ::before {
  display: none;
}

.loginForm {
  margin-bottom: 2rem;
}

.cadasterForm {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.cadasterForm p {
  margin-block: 2rem;
}

.loginSubtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.loginSubtitle ::after {
  content: "";
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}
